<% # Signed in User %>
<% if user_signed_in? %>
  <div class="well">
    <h1>Dashboard</h1>
    <h4 style="padding-bottom:20px">What would you like to do?</h4>

    <table>
      <tr>
        <td style="padding-bottom:20px"><%= link_to "Search for an Item", items_path, class: "btn btn-large btn-primary" %></td>
        <td style="padding-bottom:20px; padding-left:20px"><h3>Search for the materials you need.</h3></td>
      </tr>
      <tr>
        <td style="padding-bottom:20px"><%= link_to "Add an Item", new_item_path, class: "btn btn-large btn-info" %></td>
        <td style="padding-bottom:20px; padding-left:20px"><h3>Add items to your inventory.</h3></td>
      </tr>
      <tr>                                                                      
        <td style="padding-bottom:20px"><%= link_to "Browse Contractors", all_users_path, class: "btn btn-large btn-success" %></td>
        <td style="padding-bottom:20px; padding-left:20px"><h3>Find other contractors with items to spare.</h3></td>
        </tr>  
      <tr>                                                                      
        <td><%= link_to "Edit Your Profile", edit_user_registration_path, class: "btn btn-large btn-warning" %></td>
        <td style="padding-left:20px"><h3>Help others find you.</h3></td>                                                                                                                                  
      </tr>  
    </table><br />
    
    <h4>Overflow was built BY contractors, FOR contractors.</h4>

    <p>No need for complicated software. No need to learn a new accounting system.
    Just search for the items you need, contact the user when you find something.
    If you want to add items of your own, that's easy too. If you run into any
    problems, find us on the contact page or email michaelomchenry@gmail.com
    and we'll get to the bottom of it. If you have an thougts or feedback, we're
    always looking to improve.</p>
  </div>
		    
<% else %>

<% # Signed Out User / Splash Page %> 
  <div class="center hero-unit">
    <h1>Buy and Sell leftover materials.</h1>
      <h2>Our warehouses are full, but budgets are tight.</h2>
      <p style="text-align:left">Mechanical Contractors tend to tuck away 
      extra materials for a rain day. We've all needed a specialty item that
      we wished we could have found cheaper elsewhere to make more on a job.
      Overflow helps you buy and sell these extras.</p>
    
      <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-huge btn-info" %>
  </div>

<div class="row">
  <div class="span5">
    <div class="well">
      <h2 class="center">Save Money</h2>
      <div class="center">
        <object data="images/money.svg" type="image/svg+xml"></object>
      </div>
      <p>
        When you're buying some other contractor's extra part, you're not paying
        as much as buying new from a distributor.
      </p>
    </div>
  </div>
  <div class="span5">
    <div class="well">
      <h2 class="center">Save Time</h2>
      <div class="center">                                                                                                   
        <object data="images/time.svg" type="image/svg+xml"></object>          
      </div> 
      <p>
        Check Overflow for inventory first, instead of calling suppliers to get
        pricing and lead-time on parts you need.
      </p>
    </div>
  </div>
  <div class="span5">
    <div class="well">
      <h2 class="center">Find What You Need</h2>
      <div class="center">                                                                                                   
        <object data="images/box.svg" type="image/svg+xml"></object>          
      </div> 
      <p>
        Specialty and excess PVF is just a click away, from trusted HVAC
        contractors already in the Unified Group!
      </p>
    </div>
  </div>
</div>

<div class="well">
  <h2 class="center">The Unified Group's Exclusive Inventory Exchange</h2>
  <p>
    Every single HVAC, Mechanical, and Plumbing contractor struggles with
    finding the time and manpower to complete jobs - while still maintaining
    lists of excess inventory items. What if your list of excess items that you
    have also served as a contact list for others to purchase your leftovers?
    What if you could easily search this database to find things you need
    before reaching out and buying new parts?
  </p>
  <p>
    If one contractor sells a part that was just sitting around, and another
    one purchases that part and save time and money, everyone wins. Learn more
    about how we can all win together with <strong>The Unified Group</strong>
    today by signing up for a free account.
  </p>
</div>
<% end %>

