<div class="well">
  <h1><%= @user.username %></h1>
  <ul>

      <% if location_display(@user).blank? %>
      <% else %>
        <li>From: <%= location_display(@user) %></li>
      <% end %>
      
      <li>Phone Number: <%= phone_display(@user) %></li>
      
      <li>Email: <%= @user.email %></li>
      <li>Last Seen: <%= @user.last_sign_in_at.to_formatted_s(format = :long_ordinal) %></li>
  	  <li>Joined Overflow: <%= @user.created_at.to_formatted_s(format = :long_ordinal) %></li>
  	</ul>
</div>

<% if @user.items.count != 0 %>

<div class="well">
	<h1><%= @user.username %>'s items</h1>
  <table>
    <tr>
      <th style="padding-left:15px"><h4>Title</h4></th>
      <th style="padding-left:30px"><h4>Details</h4></th>
      <th style="padding-left:30px"><h4>Added</h4></th>
      <th style="padding-left:30px"><h4>Price</h4></th>

      <% if @user == current_user %>
        <th style="padding-left:30px"><h4>Edit</h4></th>
        <th style="padding-left:30px"><h4>Delete</h4></th>
      <% else %>
      <% end %>

    </tr>
		<% @user.items.each do |item| %>
      <tr>
			 	<td style="padding-left:15px"><%= link_to item.title, item_path(item) %></td>
        <td style="padding-left:30px"><%= item.content %></td>

        <td style="padding-left:30px"><%= item.created_at.to_formatted_s(format = :long_ordinal) %></li>

        <% if item.price.blank? %>
          <td style="padding-left:30px">---</td>
        <% else %>
          <td style="padding-left:30px"><%= item.price %></td>
        <% end %>
      
        <% if item.email == current_user.email %>
			  <td style="padding-left:30px"><%= link_to 'Edit', edit_item_path(item) %></td>
			  <td style="padding-left:30px"><%= link_to 'Delete', item, confirm: 'Are you sure?', method: :delete %></td>
			  <% else %>
        <% end %>
      
      </tr>
		<% end %>
	</table>
</div>

<% else %>
  <div class="well">
    <h1><%= @user.username %> doesn't have any items yet.</h1>
  </div>
<% end %>
