<div class="row">
  <div class="span6">
    <div class="well">
      
        <h1>Search</h1>
        
        <%= form_tag items_path, :method => 'get' do %>       
          <p style="padding-top:20px; margin-bottom:-17px">
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil, :class => 'btn btn-info',
              :style => 'margin-bottom:10px' %>
            <%= link_to "Browse Items", items_path, :class => 'btn btn-success',
              :style => 'margin-bottom:10px' %>
            </p>
        <% end %>
    </div>
  </div>
  
  <div class="span9">
    <div class="well">
      <h2>Search Tips</h2>
      <p>You should specify sizes, material, and part type in your searches.
      For example, you could search for <strong>6" SS 316 90</strong>. The more
      info there is to start with, the better!</p>
    </div>
  </div>
</div>

<div class="well">

  <h1 style="margin-bottom:10px">All Items</h1>
  <em>Items with an asterisk * have a photo uploaded.</em>

  <% @items.each do |item| %>
    <div class="row" style="padding-left:35px; padding-right:15px; padding-top:10px">
      <div class="item">
        <div class="pull-right">
          
            <% if item.price.blank? %>
              <h4 style="margin-bottom:-5px; text-align:right">---</h4>
            <% else %>
              <h4 style="margin-bottom:-5px; text-align:right"><%= item.price %></h4>
            <% end %>
          
        
          <div class="pull-right" style="margin-top:5px">
            <% if item.email == current_user.email %>
            <% else %>
              <%= mail_to item.email.to_s, "Inquire", :cc => "overflowmech@gmail.com",
                :subject => "Overflow Inquiry Regarding " + item.title.to_s %><br />
            <% end %>
          </div>

          <div class="pull-right" style="margin-top:5px">
            <% if item.email == current_user.email %>
              <%= link_to 'Edit', edit_item_path(item).to_s, :class => "control" %>
              <%= link_to 'Delete', item, confirm: 'Are you sure?', method: :delete, :class => "control" %>
            <% else %>
            <% end %>
          </div>
        </div>

      <h4 style="margin-bottom:5px">
        <% if item.image.exists? %>
          *
        <% else %>
        <% end %>
        <%= link_to truncate(item.title.to_s, :length => 30), item_path(item) %>
      </h4>

      <strong><%= truncate(item.content.to_s, :length => 35) %></strong><br />
      
      <em>posted <%= item.created_at.to_formatted_s(format = :long_ordinal) %></em>

      <% if item.location.blank? %>
      <% else %>
        in <%= item.location %>
      <% end %>
      <hr style="margin-top:5px; margin-bottom:0px">
    </div>
  </div>
  <% end %>
  
  <br />

    <div>
      <%= paginate @items %>
    </div>

  <%= link_to 'New Item', new_item_path %>

</div>
