<div class="row">
  <div class="span6">
<div class="well">
  <h1 style="">Search</h1>
  <%= form_tag items_path, :method => 'get' do %>
  <p style="padding-top:20px; margin-bottom:-17px">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, :class => 'btn btn-info',
        :style => 'margin-bottom:10px' %>
      <%= link_to "Browse Items", items_path, :class => 'btn btn-success',
        :style => 'margin-bottom:10px' %>
  </p>
  <% end %>
</div>
</div>
<div class="span9">
  <div class="well">
    <h2>Search Tips</h2>
    <p>You should specify sizes, material, and part type in your searches.
    For example, you could search for <strong>6" SS 316 90</strong>. The more
    info there is to start with, the better!</p>
  </div>
</div>
</div>

<div class="well">

  <h1>All Items</h1>
    <table style="text-align:left; width:100%">
      <tr>
        <th><h3>Title</h3></th>
        <th><h3>Details</h3></th>
        <th><h3>Price</h3></th>
        <th><h3>Location</h3></th>
        <th><h3>Added</h3></th>
        <th><h3>Inquire</h3></th>
        <th><h3>Edit</h3></th>
        <th><h3>Delete</h3></th>
        <th><h3></h3></th>
      </tr>

  <% @items.each do |item| %>
      <tr>
        <td><%= link_to truncate(item.title.to_s, :length => 25), item_path(item) %></td>
        <td><%= truncate(item.content.to_s, :length => 27) %></td>
        
        <% if item.price.blank? %>
          <td>---</td>
        <% else %>
          <td><%= item.price %></td>
        <% end %>

        <% if item.location.blank? %>
          <td>---</td>
        <% else %>
          <td><%= item.location %></td>
        <% end %>

        <td><%= item.created_at.to_formatted_s(format = :long_ordinal) %></td>

        <% if item.email == current_user.email %>
          <td>(yours)</td>
        <% else %>
          <td><%= mail_to item.email.to_s, "Inquire", :cc => "michaelomchenry@gmail.com",
            :subject => "OverFlow Inquiry Regarding " + item.title.to_s %></td>    
        <% end %>

        <% if item.email == current_user.email %>
        <td><%= link_to 'Edit', edit_item_path(item).to_s %></td>
        <td><%= link_to 'Delete', item, confirm: 'Are you sure?', method: :delete %></td>
      <% else %>
        <td>---</td>
        <td>---</td>
        <% end %>
      </tr>
      <% end %>
    </table>
    <br />

    <div>
      <%= paginate @items %>
    </div>

  <%= link_to 'New Item', new_item_path %>

</div>
