<div class="well">

	<p id="notice"><%= notice %></p>
	
	<p>
  <h2><%= @item.title %></h2>
	</p>
	
	<p>
	  <strong>Description:</strong>
	  <%= @item.content %>
	</p>

  <p>
    <strong>Price:</strong>
    <% if @item.price == nil %>
      Contact for more information
    <% else %>
      <%= @item.price %>
    <% end %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @item.location %>
  </p>

	<p>
  <b>User:</b>
    <%= @item.email %>&nbsp &nbsp
    <%= mail_to @item.email.to_s, "Email / Contact this User", :cc => 
        "michaelomchenry@gmail.com", :subject => "OverFlow Inquiry Regarding "  + @item.title.to_s %>
  </p>

  <% if @item.image.exists? %>
  <p>
    <%= image_tag @item.image.url(:square) %>
    </p>
  <% else %>
  <% end %>

	<%= link_to 'Edit', edit_item_path(@item) %> |
	<%= link_to 'Back', items_path %>

</div>
